@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=PT+Sans+Narrow:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: "PT Sans", sans-serif;
  --font-serif: "PT Serif", serif;
  --font-mono: "PT Mono", monospace;
}

@layer base {
  html, body {
    /* Tailwind по умолчанию применяет --font-sans к body. 
       Если базовый шрифт должен отличаться от font-sans, задаем его явно: */
    font-family: "PT Sans", sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: bold;
  }
}

@plugin "daisyui" {
  themes: autumn --default;
}

@plugin "daisyui/theme" {
  name: "autumn";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(95.21% 0 0);
  --color-base-200: oklch(89.107% 0 0);
  --color-base-300: oklch(82.4% 0 0);
  --color-base-content: oklch(19.162% 0 0);
  --color-primary: oklch(12.95% 0.003 55.34);
  --color-primary-content: oklch(95.21% 0 0);
  --color-secondary: oklch(76.71% 0.111 76.54);
  --color-secondary-content: oklch(12.95% 0.003 55.34) ;
  --color-accent: oklch(61.676% 0.169 23.865);
  --color-accent-content: oklch(12.95% 0.003 55.34) ;
  --color-neutral: oklch(43% 0.0197 52.14);
  --color-neutral-content: oklch(90.873% 0.007 51.902);
  --color-info: oklch(69.224% 0.097 207.284);
  --color-info-content: oklch(13.844% 0.019 207.284);
  --color-success: oklch(60.995% 0.08 174.616);
  --color-success-content: oklch(12.199% 0.016 174.616);
  --color-warning: oklch(70.081% 0.164 56.844);
  --color-warning-content: oklch(14.016% 0.032 56.844);
  --color-error: oklch(53.07% 0.241 24.16);
  --color-error-content: oklch(90.614% 0.048 24.16);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@layer base {
  button:not(:disabled), [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

.logo {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  margin-left: -1rem;
}
.logo::before{
  content: '·';
  color: oklch(62.48% 0.2381 31.78);
  font-size: 2rem;
  vertical-align: middle;
  position: relative;
  left: 5.5rem;
  top: -.05rem;
}
.logo::after{
  content: 'α';
  font-size: .8rem;
  vertical-align: top;
  margin-left: .1rem;
  opacity: .5;
}
.newt-btn {
  font-size: 1.0rem;
}
.form-control .label {
  margin-right: 0.375rem;
  margin-bottom: 0.125rem;
}
button.expandable-field:not(.basic-expandable) {
  margin-top: 1.25rem;
}

.pairing-section .player-card {
  font-family: "PT Sans", sans-serif;
}

.sente-card:has(+ div > button[data-val='<']) > div,
div:has(> button[data-val='>']) + .gote-card > div {
  background-color: oklch(65.676% 0.169 23.865);
}
.sente-card:has(+ div > button[data-val='>']) > div,
div:has(> button[data-val='<']) + .gote-card > div  {
  background-color: oklch(70.995% 0.08 174.616);
}
.sente-card:has(+ div > button[data-val='=']) > div,
div:has(> button[data-val='=']) + .gote-card > div  {
  background-color: oklch(86.71% 0.111 76.54);
}

@media (max-width: 640px) {
  main .card-body {
    padding: 0.5rem;
  }
}

@media (max-width: 479px) {
  main .card-body {
    padding: 0.3rem;
  }
  .input-sm {
    --font-size-min: 0.60rem;
  }
  .logo {
    font-size: 1rem;
    margin-left: -1rem;
  }
  .logo::before{
    font-size: 1.5rem;
    left: 3.7rem;
    top: -.05rem;
  }
  .logo::after{
    font-size: .6rem;
    margin-left: .1rem;
  }
  
  .drop-zone-card .player-card {
    font-family: "PT Sans Narrow", sans-serif !important; 
    font-size: 80%;
  }
  .drop-zone-card .flag,
  .drop-zone-card .location,
  .drop-zone-card .graphup,
  .drop-zone-card .player-title
  {
    display: none;
  }
  .drop-zone-card > div[role='button'] {
    padding-left: 0.25rem;
  }
}